# Importação de Libs

In [70]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
from sklearn import tree
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score
from sklearn.metrics import confusion_matrix
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering



df = pd.read_csv("data/basededados.xls", delimiter=";")
df

,WWR,Tvis,N_aletas,angulo,largura,direcao,UDI',UDI,UDI_more,UDI_less
0,0.1,0.100,1,0.0,0.1,0.0,1.65,16.5,9.86,0.25
1,0.1,0.295,1,0.0,0.1,0.0,3.99,39.9,9.11,1.06
2,0.1,0.490,1,0.0,0.1,0.0,5.24,52.4,8.39,1.47
3,0.1,0.685,1,0.0,0.1,0.0,6.31,63.1,7.48,2.05
4,0.1,0.880,1,0.0,0.1,0.0,6.98,69.8,6.67,2.60
...,...,...,...,...,...,...,...,...,...,...
25000,0.7,0.295,10,89.0,1.2,157.5,0.08,0.8,10.00,0.00
25001,0.7,0.490,10,89.0,1.2,157.5,0.09,0.9,10.00,0.00
25002,0.7,0.685,10,89.0,1.2,157.5,0.26,2.6,10.00,0.00
25003,0.7,0.880,10,89.0,1.2,157.5,0.44,4.4,9.99,0.00
25004,0.7,0.100,1,0.0,0.1,0.0,5.22,52.2,8.46,1.14

# Pré-Processamento:

1. Separação dos dados em X(dados independentes) e y(dados dependentes)
2. Separação de Treino e Teste
3. Normalização dos

In [71]:
df.isnull().sum()
df = df.dropna()

In [72]:
col = df.columns[6]
df.drop(columns=col, axis=1, inplace=True)
df

C:\Users\Adriano Dias\AppData\Local\Temp\ipykernel_20268\2361852343.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=col, axis=1, inplace=True)

,WWR,Tvis,N_aletas,angulo,largura,direcao,UDI,UDI_more,UDI_less
0,0.1,0.100,1,0.0,0.1,0.0,16.5,9.86,0.25
1,0.1,0.295,1,0.0,0.1,0.0,39.9,9.11,1.06
2,0.1,0.490,1,0.0,0.1,0.0,52.4,8.39,1.47
3,0.1,0.685,1,0.0,0.1,0.0,63.1,7.48,2.05
4,0.1,0.880,1,0.0,0.1,0.0,69.8,6.67,2.60
...,...,...,...,...,...,...,...,...,...
25000,0.7,0.295,10,89.0,1.2,157.5,0.8,10.00,0.00
25001,0.7,0.490,10,89.0,1.2,157.5,0.9,10.00,0.00
25002,0.7,0.685,10,89.0,1.2,157.5,2.6,10.00,0.00
25003,0.7,0.880,10,89.0,1.2,157.5,4.4,9.99,0.00
25004,0.7,0.100,1,0.0,0.1,0.0,52.2,8.46,1.14

In [73]:
X = df.iloc[:, :6]
y = df.iloc[:, 6]
y

0        16.5
1        39.9
2        52.4
3        63.1
4        69.8
         ...
25000     0.8
25001     0.9
25002     2.6
25003     4.4
25004    52.2
Name: UDI , Length: 25004, dtype: float64

In [74]:
X

       WWR   Tvis  N_aletas  angulo  largura  direcao
0      0.1  0.100         1     0.0      0.1      0.0
1      0.1  0.295         1     0.0      0.1      0.0
2      0.1  0.490         1     0.0      0.1      0.0
3      0.1  0.685         1     0.0      0.1      0.0
4      0.1  0.880         1     0.0      0.1      0.0
...    ...    ...       ...     ...      ...      ...
25000  0.7  0.295        10    89.0      1.2    157.5
25001  0.7  0.490        10    89.0      1.2    157.5
25002  0.7  0.685        10    89.0      1.2    157.5
25003  0.7  0.880        10    89.0      1.2    157.5
25004  0.7  0.100         1     0.0      0.1      0.0

[25004 rows x 6 columns]

In [75]:
from sklearn.model_selection import train_test_split
XTrain, XTest, yTrain, yTest = train_test_split(X, y, test_size=0.2, random_state=0)
yTrain

21292    76.2
4023     54.5
11057    42.9
4719      6.1
14303    65.8
         ...
13124    83.1
19649     0.0
9846      0.0
10800    81.8
2733     43.5
Name: UDI , Length: 20003, dtype: float64

## Decision Tree

In [76]:
model = tree.DecisionTreeRegressor(random_state=0)
model.fit(XTrain, yTrain)

y_pred = model.predict(XTest)

y_pred

array([83.6, 69.4, 77.3, ..., 24.2, 46.8, 75.5], shape=(5001,))

In [77]:
model.score(XTrain, yTrain)

0.9999999996701979

In [78]:
r2_score(yTest, y_pred)

0.9917864951923778

In [79]:
joblib.dump(model, 'best_decision_tree_model.pkl')

['best_decision_tree_model.pkl']

In [80]:
best_model = joblib.load('best_decision_tree_model.pkl')

y_pred = best_model.predict(XTest)

r2_score(yTest, y_pred)

0.9917864951923778

In [81]:
dfc = pd.DataFrame({'Valor Real': yTest, 'Valor Previsto': y_pred})
dfc['Index'] = dfc.index

dfc

       Valor Real  Valor Previsto  Index
16395        84.3            83.6  16395
21533        69.5            69.4  21533
21930        78.8            77.3  21930
12171        76.8            76.5  12171
13963         4.4            10.9  13963
...           ...             ...    ...
24909        13.1            17.5  24909
15756        74.5            74.8  15756
7699         22.5            24.2   7699
20959        46.6            46.8  20959
17557        76.1            75.5  17557

[5001 rows x 3 columns]

## Random Forest

In [82]:
model = RandomForestRegressor(random_state=0)
model.fit(XTrain, yTrain)

y_pred = model.predict(XTest)

y_pred

array([83.976, 69.56 , 77.809, ..., 24.064, 46.727, 76.466], shape=(5001,))

In [83]:
model.score(XTrain, yTrain)

0.9993311183005807

In [84]:
r2_score(yTest,y_pred)

0.9953668084941399

In [85]:
# param_grid = {
#     'n_estimators': [10, 20, 30],
#     'max_depth': [None, 5, 10, 15],
#     'min_samples_split': [2, 5, 10],
#     'min_samples_leaf': [1, 2, 4]
# }

# kfold = KFold(n_splits=5, random_state=42, shuffle=True)

# grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=kfold, scoring='r2')

# grid_search.fit(XTrain, yTrain)

# best_model = grid_search.best_estimator_

# y_pred = best_model.predict(XTest)

# best_r2 = r2_score(yTest, y_pred)

# print(f"Melhor r2_score: {best_r2}")

In [86]:
joblib.dump(model, 'best_random_forest_model.pkl')

['best_random_forest_model.pkl']

In [87]:
best_model = joblib.load('best_random_forest_model.pkl')

y_pred = best_model.predict(XTest)

r2_score(yTest, y_pred)

0.9953668084941399

In [88]:
dfc = pd.DataFrame({'Valor Real': yTest, 'Valor Previsto': y_pred})
dfc['Index'] = dfc.index

dfc

       Valor Real  Valor Previsto  Index
16395        84.3          83.976  16395
21533        69.5          69.560  21533
21930        78.8          77.809  21930
12171        76.8          76.423  12171
13963         4.4          11.860  13963
...           ...             ...    ...
24909        13.1          15.150  24909
15756        74.5          74.771  15756
7699         22.5          24.064   7699
20959        46.6          46.727  20959
17557        76.1          76.466  17557

[5001 rows x 3 columns]

In [89]:
XTest['Real'] = dfc['Valor Real']
XTest['Predict'] = dfc['Valor Previsto']
XTest
dft = XTest
dft

        WWR   Tvis  N_aletas  angulo  largura  direcao  Real  Predict
16395  0.55  0.490         3   66.75    0.375    157.5  84.3   83.976
21533  0.70  0.880         3    0.00    0.650    112.5  69.5   69.560
21930  0.70  0.295         3    0.00    1.200    112.5  78.8   77.809
12171  0.40  0.880         6   66.75    0.100    135.0  76.8   76.423
13963  0.40  0.295         8   44.50    1.200    135.0   4.4   11.860
...     ...    ...       ...     ...      ...      ...   ...      ...
24909  0.70  0.100        10   22.25    1.200     90.0  13.1   15.150
15756  0.55  0.685         1    0.00    0.925    135.0  74.5   74.771
7699   0.25  0.685         6   89.00    0.925     67.5  22.5   24.064
20959  0.70  0.100         1   22.25    1.200    135.0  46.6   46.727
17557  0.55  0.880         6    0.00    0.650    135.0  76.1   76.466

[5001 rows x 8 columns]