# Importação de Libs

In [167]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
from sklearn import tree
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score
from sklearn.metrics import confusion_matrix
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering



df = pd.read_csv("data/basededados.xls", delimiter=";")
df

,WWR,Tvis,N_aletas,angulo,largura,direcao,UDI',UDI,UDI_more,UDI_less
0,0.1,0.100,1,0.0,0.1,0.0,1.65,16.5,9.86,0.25
1,0.1,0.295,1,0.0,0.1,0.0,3.99,39.9,9.11,1.06
2,0.1,0.490,1,0.0,0.1,0.0,5.24,52.4,8.39,1.47
3,0.1,0.685,1,0.0,0.1,0.0,6.31,63.1,7.48,2.05
4,0.1,0.880,1,0.0,0.1,0.0,6.98,69.8,6.67,2.60
...,...,...,...,...,...,...,...,...,...,...
25000,0.7,0.295,10,89.0,1.2,157.5,0.08,0.8,10.00,0.00
25001,0.7,0.490,10,89.0,1.2,157.5,0.09,0.9,10.00,0.00
25002,0.7,0.685,10,89.0,1.2,157.5,0.26,2.6,10.00,0.00
25003,0.7,0.880,10,89.0,1.2,157.5,0.44,4.4,9.99,0.00
25004,0.7,0.100,1,0.0,0.1,0.0,5.22,52.2,8.46,1.14

# Pré-Processamento:

1. Separação dos dados em X(dados independentes) e y(dados dependentes)
2. Separação de Treino e Teste
3. Normalização dos

In [168]:
col = df.columns[6]
df.drop(columns=col, axis=1, inplace=True)
df

,WWR,Tvis,N_aletas,angulo,largura,direcao,UDI,UDI_more,UDI_less
0,0.1,0.100,1,0.0,0.1,0.0,16.5,9.86,0.25
1,0.1,0.295,1,0.0,0.1,0.0,39.9,9.11,1.06
2,0.1,0.490,1,0.0,0.1,0.0,52.4,8.39,1.47
3,0.1,0.685,1,0.0,0.1,0.0,63.1,7.48,2.05
4,0.1,0.880,1,0.0,0.1,0.0,69.8,6.67,2.60
...,...,...,...,...,...,...,...,...,...
25000,0.7,0.295,10,89.0,1.2,157.5,0.8,10.00,0.00
25001,0.7,0.490,10,89.0,1.2,157.5,0.9,10.00,0.00
25002,0.7,0.685,10,89.0,1.2,157.5,2.6,10.00,0.00
25003,0.7,0.880,10,89.0,1.2,157.5,4.4,9.99,0.00
25004,0.7,0.100,1,0.0,0.1,0.0,52.2,8.46,1.14

In [169]:
X = df.iloc[:, :6]
y = df.iloc[:, 6]
y

0        16.5
1        39.9
2        52.4
3        63.1
4        69.8
         ...
25000     0.8
25001     0.9
25002     2.6
25003     4.4
25004    52.2
Name: UDI , Length: 25005, dtype: float64

In [170]:
X

       WWR   Tvis  N_aletas  angulo  largura  direcao
0      0.1  0.100         1     0.0      0.1      0.0
1      0.1  0.295         1     0.0      0.1      0.0
2      0.1  0.490         1     0.0      0.1      0.0
3      0.1  0.685         1     0.0      0.1      0.0
4      0.1  0.880         1     0.0      0.1      0.0
...    ...    ...       ...     ...      ...      ...
25000  0.7  0.295        10    89.0      1.2    157.5
25001  0.7  0.490        10    89.0      1.2    157.5
25002  0.7  0.685        10    89.0      1.2    157.5
25003  0.7  0.880        10    89.0      1.2    157.5
25004  0.7  0.100         1     0.0      0.1      0.0

[25005 rows x 6 columns]

In [171]:
from sklearn.model_selection import train_test_split
XTrain, XTest, yTrain, yTest = train_test_split(X, y, test_size=0.2)
yTrain

15012    62.4
1099     67.5
20504    50.5
20790    83.5
21037    72.5
         ...
5411     29.8
18641    69.9
18573     1.9
17945    36.0
12681    82.5
Name: UDI , Length: 20004, dtype: float64

## Decision Tree

In [172]:
model = tree.DecisionTreeRegressor()
model.fit(XTrain, yTrain)

y_pred = model.predict(XTest)

y_pred

array([39.8, 84.1, 83.5, ..., 77. , 81.8, 76.9], shape=(5001,))

In [173]:
model.score(XTrain, yTrain)

0.9999999980049739

In [174]:
r2_score(yTest, y_pred)

0.9918988181951554

In [175]:
joblib.dump(model, 'best_decision_tree_model.pkl')

['best_decision_tree_model.pkl']

In [176]:
best_model = joblib.load('best_decision_tree_model.pkl')

y_pred = best_model.predict(XTest)

r2_score(yTest, y_pred)

0.9918988181951554

In [177]:
dfc = pd.DataFrame({'Valor Real': yTest, 'Valor Previsto': y_pred})
dfc['Index'] = dfc.index

dfc

       Valor Real  Valor Previsto  Index
10442        40.3            39.8  10442
15784        83.3            84.1  15784
9355         83.4            83.5   9355
2284         63.7            62.5   2284
16962        80.4            80.6  16962
...           ...             ...    ...
7253         75.9            74.0   7253
23314        31.6            32.5  23314
11013        77.0            77.0  11013
6345         82.3            81.8   6345
15916        76.9            76.9  15916

[5001 rows x 3 columns]

## Random Forest

In [178]:
model = RandomForestRegressor()
model.fit(XTrain, yTrain)

y_pred = model.predict(XTest)

y_pred

array([40.252, 83.53 , 82.107, ..., 77.163, 81.498, 77.209], shape=(5001,))

In [179]:
model.score(XTrain, yTrain)

0.9993505636355665

In [180]:
r2_score(yTest,y_pred)

0.9954516855548763

In [181]:
# param_grid = {
#     'n_estimators': [10, 20, 30],
#     'max_depth': [None, 5, 10, 15],
#     'min_samples_split': [2, 5, 10],
#     'min_samples_leaf': [1, 2, 4]
# }

# kfold = KFold(n_splits=5, random_state=42, shuffle=True)

# grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=kfold, scoring='r2')

# grid_search.fit(XTrain, yTrain)

# best_model = grid_search.best_estimator_

# y_pred = best_model.predict(XTest)

# best_r2 = r2_score(yTest, y_pred)

# print(f"Melhor r2_score: {best_r2}")

In [182]:
# joblib.dump(model, 'best_random_forest_model.pkl')

In [183]:
best_model = joblib.load('best_random_forest_model.pkl')

y_pred = best_model.predict(XTest)

r2_score(yTest, y_pred)

0.9983034977047266

In [184]:
dfc = pd.DataFrame({'Valor Real': yTest, 'Valor Previsto': y_pred})
dfc['Index'] = dfc.index

dfc

       Valor Real  Valor Previsto  Index
10442        40.3            40.3  10442
15784        83.3            83.3  15784
9355         83.4            83.4   9355
2284         63.7            65.1   2284
16962        80.4            80.4  16962
...           ...             ...    ...
7253         75.9            75.9   7253
23314        31.6            31.6  23314
11013        77.0            77.0  11013
6345         82.3            82.3   6345
15916        76.9            76.9  15916

[5001 rows x 3 columns]

In [185]:
XTest['Real'] = dfc['Valor Real']
XTest['Predict'] = dfc['Valor Previsto']
XTest
dft = XTest
dft

        WWR   Tvis  N_aletas  angulo  largura  direcao  Real  Predict
10442  0.40  0.100         1   66.75    0.650     22.5  40.3     40.3
15784  0.55  0.295         1   22.25    0.925    157.5  83.3     83.3
9355   0.25  0.880        10    0.00    0.375    135.0  83.4     83.4
2284   0.10  0.880         6   22.25    0.375     67.5  63.7     65.1
16962  0.55  0.880         3   22.25    1.200    135.0  80.4     80.4
...     ...    ...       ...     ...      ...      ...   ...      ...
7253   0.25  0.490         6    0.00    0.375     45.0  75.9     75.9
23314  0.70  0.100         8   44.50    0.375     90.0  31.6     31.6
11013  0.40  0.295         3   44.50    0.100      0.0  77.0     77.0
6345   0.25  0.880         3   66.75    0.375    112.5  82.3     82.3
15916  0.55  0.685         1   44.50    1.200     90.0  76.9     76.9

[5001 rows x 8 columns]